# test_heavy_vlms/requirements.txt
transformers>=4.40.0
torch
torchvision
accelerate
bitsandbytes
pillow
sentencepiece
av
librosa
# For Silero VAD
torchaudio
# For InternVL
einops
timm
# For Qwen-VL
tiktoken
transformers_stream_generator
# For Video-LLaMA
decord
# Utility and API
google-genai
numpy
python-dotenv
opencv-python-headless
