# & ".venv\Scripts\Activate.ps1" pip install -r requirements.txt --force-reinstall

# General Utils
numpy>=1.26,<2

# General Video Processing
opencv-python>=4.7 #OpenCV for video processing
scenedetect>=0.6 # PySceneDetect

# BLIP 
torch = 2.9.1 
transformers=4.57.1
Pillow= 12.0.0

